mixin con
    form.form(id="form-contact")
        input(type="text", name="nom", placeholder="Nom" required)
        br
        input(type="email", name="email", placeholder="Email" required)
        br
        input(type="textarea", name="message" required)
        br
        button.btn.btn-outline-primary(type="submit" value="Envoyer") Envoyer